body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.metronome-container {
    text-align: center;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
}

#flashing-circle {
    width: 100px;
    height: 100px;
    background-color: #555;
    border-radius: 50%;
    margin: 20px auto;
    transition: background-color 0.1s;
}

#flashing-circle.active {
    background-color: #f00; /* Flashing color */
}

#accuracy-indicator {
    width: 100px; /* Adjust size as needed */
    height: 100px; /* Adjust size as needed */
    border-radius: 50%;
    border: 5px solid black; /* Outline color */
    margin-top: 20px; /* Space between indicators */
    background-color: red; /* Default color */
    transition: background-color 0.3s; /* Smooth color transition */
}
